version: '2'
services:
    eureka-server:
        image:  komaladunna/pmp-server
        ports:
            -   8761:8761

    api-gateway-server:
        image:  komaladunna/pmp-gateway
        ports:
            -   8765:8765
        depends_on:
            -   eureka-server
        environment:
            eureka.client.serviceUrl.defaultZone: http://eureka-server:8761/eureka

    auth-server:
        image: komaladunna/pensioner-auth
        ports:
            -   8080:8080
        depends_on:
            -   eureka-server
            -   api-gateway-server
        environment:
            eureka.client.serviceUrl.defaultZone: http://eureka-server:8761/eureka

    process-pension-server:
        image: komaladunna/process-pension
        ports:
            -   8100:8100
        depends_on:
            -   eureka-server
            -   api-gateway-server
            -   auth-server
        environment:
            eureka.client.serviceUrl.defaultZone: http://eureka-server:8761/eureka

    pensioner-details-server:
        image: komaladunna/pensioner-detail
        ports:
            -   8000:8000
        depends_on:
            -   eureka-server
            -   api-gateway-server
            -   auth-server
            -   process-pension-server
        environment:
            eureka.client.serviceUrl.defaultZone: http://eureka-server:8761/eureka